<div class = "row">
  <div class = "small-10 large-centered columns">
    <h1> ROCK PAPER SCISSORS </h1>
    <p> </p>
    <h5> <%= session[:gameplay] %> </h5>
    <p> </p>
    <h5> Human score: <%= session[:human] %> </h5>
    <h5> Computer score: <%= session[:computer] %> </h5>
    <p> </p>

    <div class = "large-4">
      <form action="/game" method="post">
        <label for="">Choose Rock, Paper, or Sissors</label>
        <select name="choice">
            <option value="Rock"> Rock </option>
            <option value="Paper"> Paper </option>
            <option value="Scissors"> Scissors </option>
        </select>
        <input class ="button" type="submit" name="" id="" value="Submit your move!" />
      </form>
    </div>

  </div>
</div>
