<div class = "row">
  <div class = "small-10 large-centered columns">
    <h1> ROCK PAPER SCISSORS </h1>
    <p> </p>
    <h5> <%= session[:gameplay] %> </h5>
    <p> </p>
    <h5> Human score: <%= session[:human] %> </h5>
    <h5> Computer score: <%= session[:computer] %> </h5>
    <p> </p>

    <h1> <%= session[:winner] %> </h1>

    <div class = "large-4">
      <form action="/winner" method="post">
        <label for="replay"></label>
        <input class ="button" type="submit" name="replay" value="Play another game!" />
      </form>
    </div>
  </div>
</div>
